<html>
    <head>
        <title>First try</title>
        <script src="..\angular.js"></script>
        <script src="..\index.js"></script>
        <link rel="stylesheet" href="..\index.css">
    </head>
    <body ng-app = "app" ng-controller="appCtrl">
        <div class="card">
            <h1 class="title">{{message}}</h1>
            <div class="calculator">
                Enter Numbers to Multiply: 
                <input class="textBox" type="text" ng-model="Num1" /> <br>x<br> <input class="textBox" type="text" ng-model="Num2" /><br> 
                <a class="submitBtn" ng-click="submit()">submit</a>
                <h3 class="answer">{{try}}</h3>
            </div>
        </div>
        
    </body>
</html>
